@model PreShop.FrontEnd.Models.Custom.ProductModel

<div class="single_product">
    <div class="product_thumb">
        <a href='/ProductDetails/Index?P=@Helper.Security.Encrypt(Model.ProductID.ToString())'>
            <img id="pImg_@Model.ProductID"  src="@PreShop.Common.StoreHostName@Model.Image" onerror="this.src='/assets/img/product/product18.jpg'" alt="">
        </a>
    </div>
    <div class="product_content">
        <div class="product_ratting">
            <ul>
                <li><a href="#"><i class="ion-star"></i></a></li>
                <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
            </ul>
        </div>
        <h3><a href='/ProductDetails/Index?P=@Helper.Security.Encrypt(Model.ProductID.ToString())'>@Model.Product</a></h3>
        <div class="product_price">
            <span class="current_price">@Helper.SpartansHelper.FormatCurrencyDisplay(Model.Price.ToString())</span>
        </div>
    </div>
</div>